/*
 *	Variables
 */


/*
 *	Color Variables
 */ 

$base-background-color: whitesmoke;
$base-font-color: black;
$base-link-color: blue;
$base-action-color: green;


/*
 *	Font Variables
 */

$base-font-family: 'RobotoMono', helvetica neue, helvetica, sans-serif;
$base-font-size: 16px;
$base-font-weight: 500;