/*
 *	Home Page Styling
 */

 main.wrapper {
 	margin: 0 auto;
 	width: 95%;
 	padding: 3em 0;
 }

 div.section {
 	margin-bottom: 3em;

 	h2 {
 		text-align: center;
 		margin-bottom: 1em;
 	}
 }

 ul.list-center {
 	display: block;
 	width: 60%;
 	margin: 0 auto;

 	li {
 		margin-bottom: 4px;
 	}

 	a {
 		color: $black;
 	}
}