/*
========================
Components-Header
========================
*/

header.site-header {
	text-align: center;
	margin-bottom: 5em;

	ul {
		margin-top: 1em;

		li {
			display: inline-block;
			padding: 5px 10px;
		}
	}

	h1 > a {
		color: $black;
		text-decoration: none;
	}

	a {
		color: $red;
	}
}

a.active {
	color: $green;
}