/*
========================
Components-Table
========================
*/



// Standings Table
table.standings {
	width: 100%;

	thead {
		border-bottom: 2px solid rgba(#000, 0.02)
	}

	th,
	td {
		padding: 5px 3px;
	}

	th {
		text-align: left;
	}

	tr:nth-of-type(even) {
		background: rgba(#ccc, 0.3);
	}
}